resources:
- type: pubsub.v1.topic
  name: {{ env["deployment"] }}-{{ env["name"] }}-topic
  properties:
    topic: {{ env["deployment"] }}-{{ env["name"] }}-topic
- type: pubsub.v1.subscription
  name: {{ env["deployment"] }}-{{ env["name"] }}-subscription
  properties:
    subscription: {{ env["deployment"] }}-{{ env["name"] }}-subscription
    topic: projects/{{ env["project"] }}/topics/{{ env["deployment"] }}-{{ env["name"] }}-topic
    ackDeadlineSeconds: {{ properties["sub-deadline"] }}
  metadata:
    dependsOn:
    - {{ env["deployment"] }}-{{ env["name"] }}-topic
outputs:
- name: topic
  value: {{ env["deployment"] }}-{{ env["name"] }}-topic
- name: subscription
  value: {{ env["deployment"] }}-{{ env["name"] }}-subscription
