{{define "index"}}

{{if .Flash.Alerts}}
{{range .Flash.Alerts}}
<p>ALERT: {{.}}</p>
{{end}}
{{end}}

{{if .Flash.Notices}}
{{range .Flash.Notices}}
<p>Notice: {{.}}</p>
{{end}}
{{end}}

<table>
  <thead>
    <th>ID</th>
    <th>Disabled</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
  {{range .Auths}}
  <tr>
    <td>{{.ID}} </td>
    <td>{{.Disabled}}</td>
    <td>{{.CreatedAt}} </td>
    <td>{{.UpdatedAt}} </td>
    <td>
      <form action="/admin/auths/{{.ID}}/disable" method="POST">
        <input type="submit" value="Disable"/>
      </form>
    </td>
    <td>
      <form action="/admin/auths/{{.ID}}/delete" method="POST">
        <input type="submit" value="Delete"/>
      </form>
    </td>
  </tr>
  </tbody>
  {{end}}
</table>

<form action="/admin/auths" method="POST">
  <input type="submit" value="Create New Token"/>
</form>
{{end}}
