{{define "create"}}

{{if .Flash.Alert}}
<p>ALERT: {{.Flash.Alert}}</p>
{{end}}

{{if .Flash.Notice}}
<p>Notice: {{.Flash.Notice}}</p>
{{end}}

<p>Generated new token successfully.</p>
<p>Remember the following HTTP Header</p>

<pre><code>
Organization ID: {{.Organization.ID}}
Token: {{.Auth.Token}}
</code></pre>

<pre><code>
curl -H "Authorization: Bearer {{.Auth.Token}}" http://{{.Hostname}}/orgs/{{.Organization.ID}}/pipelines
</code></pre>

<div>
  <a href="/admin/orgs/{{.Organization.ID}}/auths">Back to list</a>
</div>
{{end}}
